/* overDiv Container */
#container3 {

	display:none;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
  	grid-row-end: 3;
	max-height:900px;
	block-size:fit-content;
	background-color: rgba(0, 102, 153, .8);
	border-radius:0px 0px 8px 8px;
	position:sticky;
	z-index:999;
	top:42px;
}
.overDivFont {
    color:white;
    font-weight:900;
}

/* Highlighters overDiv */
.highlightFont {
    margin-right:40px;
    float:left;
}
#idselectors {
	float:left;
	padding:20px;
}
#select_type_main {
    float:left;
}
.higlightSelector {
    display: block;
    float: right;
}

/* Selectors overDiv */
.logisticsFont {
    margin-top: 20px;
    margin-left: 20px;
    float:left;
}
.logistics_div_selectors{
	float:left;
}
#logistics_div{
	display:none;
	z-index:+2;
}
#logistics_div_pool_wrapper_1 {
	display: flex;
	flex-direction: column;
	float:left;
	min-width:40%;
	max-width:59%;
	height:250px;
	overflow:hidden;
}
#logistics_div_pool_wrapper {
	float:right;
	border:1px solid black;
	margin-right:10px;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	min-width:20%;
	max-width:40%;
	min-height:50px;
	max-height:300px;
	overflow:hidden;
	border-radius:8px 8px 8px 8px;
}
#type_for_logical {
    float:left;
    margin-right:5px;
    margin-top: 20px;
    margin-left: 10px;
}
#select1b {
    display: none;
    float: left;
    margin-top: 20px;
    margin-right: 5px;
}
#select2b {
    display:none;
    float:left;
    margin-top: 20px;
    margin-right: 5px;
}
#select3b {
    display:none;
    float:left;
    margin-top: 20px;
    margin-right: 5px;
}
.agreementSelector {
    margin-top: 20px;
    margin-left: 20px;
}
#add_element_to_logic_button {

    margin-top: 20px;
}
.agreementButton {

    margin-top:20px;
    margin-left:20px;
}



/* Settings overDiv */
#settings_div{

	padding:10px;
	z-index:+2;
	display:none;
}

/* Help overDiv */
#legendDiv {
	z-index:+2;
	display:none;
}