body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-top: 5vh; /* Adjust for header height */
	box-sizing: border-box;
}

.header {
	width: 100%;
	background-color: rgba(0, 102, 153, 1);
	color: white;
	text-align: center;
	/* padding: 20px 0; */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	box-sizing: border-box;
}
.container-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}


 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 


.thresholdInput {
	width: 20%;
}
.thr-title-span {
	width: 30%;
}
.tfs-title-span {
	width: fit-content;
}
.thr-container-span, .tfs-container-span, .idOnly-container-span, .noDe-container-span {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}
.fet-container-span {
	justify-content: space-between;
	display: flex;
	width: 100%;
	align-items: center;
	margin-bottom: 10px;
}
.thr-container, .tfs-container, .idOnly-container, .noDe-container, .fet-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 90%;
}




.unjustify {
	justify-content: flex-start;
}
/* Container for the select element */
.select-container {
	display: flex;
	position: relative;
	align-self: flex-start;
	width: 200px; /* Adjust as needed */
	}
/* Hide the default select */
select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	width: 100%;
	padding: 10px;
	color: white;
	font-size: 16px;
	border: 2px solid #0563af;;
	border-radius: 5px;
	cursor: pointer;
}
/* Custom arrow */
.select-container::after {
	content: 'expand_circle_down';
	font-family: 'Material Icons';
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	color: white;
	background-color: rgba(0, 102, 153, 1);
	padding: 0 5px;
	border-radius: 5px;
}

/* Background color for the select */
.select-container select {
	background-color: rgba(0, 102, 153, 1);
}

/* Hover effect */
.select-container:hover::after {
	background-color: white;
	color: rgba(0, 102, 153, 1);
}

.select-container {
	margin-left: 5%;
	margin-right: auto;
	width: 40%;
}
.select-container select {
	margin-left: auto;
	border: 1px solid white;
	width: 400px;
}




/* Icons */

.icons {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.icon {
	width: 20vw;
	height: 20vh;
	margin: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
	color: rgba(0, 102, 153, 1);
	transition: color 0.3s, background-color 0.3s;
}
.icon i.material-icons {
	font-size: 60px;
	transition: color 0.3s;
	pointer-events: none;
}
.icon span {
	margin-top: 10px;
	font-size: 16px;
	transition: color 0.3s;
	pointer-events: none;
}
.icon:hover {
	color: white;
	background-color: rgba(0, 102, 153, 1);
	border-radius: 10px;
}
.icon:hover i.material-icons,
.icon:hover span {
	color: white;
}


.info-container,  .conf-container{
	display: flex;
	background-color: rgba(0, 102, 153, 1);
	border-radius: 15px;
	width: fit-content;
	overflow: auto;
}
.conf-container {
	height: fit-content;
	flex-direction: column;
	margin: 20px;
}

.info-container {
	width: 90%;
	flex-direction: row;
}

.info-row, .conf-row, .columns-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	overflow: auto;
}
.info-row span {
	color: white;
	font-weight: bold;
	font-size: large;
	margin-left: auto;
	margin-right: auto;
}
.info-row input {
	margin-left: auto;
	width: 50%;
}
.conf-row span {
	color: white;
	font-weight: bold;
	font-size: large;
}

.preview-row {
	justify-content: flex-start;
}


/* list exp in select page */

#iconsRow {
	justify-content: center;
}
#expItemsRow, #expItemsRowList {
	justify-content: center;
	overflow: auto;
	flex-wrap: wrap;
}
#expItemsRow {
	max-height: 50vh;
}
#expItemsRowList {
	max-height: 80vh;
}
.exp-package-item-icons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.exp-package-item-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 102, 153, 1);
	color: white;
	padding: 10px;
	border-radius: 10px;
	font-size: larger;
	font-weight: bold;
	margin: 10px;
}
.exp-package-item-icon{
	width: auto;
	height: auto;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
	color: white;
	transition: color 0.3s, background-color 0.3s;
}
.exp-package-item-icon i.material-icons {
	font-size: auto;
	transition: color 0.3s;
	pointer-events: none;
}
.exp-package-item-icon span {
	margin-top: 10px;
	font-size: 16px;
	transition: color 0.3s;
	pointer-events: none;
}
.exp-package-item-icon:hover {
	color: rgba(0, 102, 153, 1);
	background-color: white;
	border-radius: 10px;
}
.exp-package-item-icon:hover i.material-icons,
.exp-package-item-icon:hover span {
	color: rgba(0, 102, 153, 1);
}
