.header {
		width: 100%;
		background-color: rgba(0, 102, 153, 1);
		color: white;
		text-align: center;
		padding: 20px 0;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
}
body, html {
		height: 100%;
		margin: 0;
		font-family: Arial, sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding-top: 80px; /* Adjust for header height */
		box-sizing: border-box;
}
.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100vw;
		padding: 20px;
		box-sizing: border-box;
		margin-top: 20px;
}
.container-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin-top: 20px;
}

/* Container for the select element */
.select-container {
display: flex;
position: relative;
align-self: flex-start;
width: 200px; /* Adjust as needed */
}

/* Hide the default select */
select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: transparent;
		width: 100%;
		padding: 10px;
		color: white;
		font-size: 16px;
		border: 2px solid #0563af;;
		border-radius: 5px;
		cursor: pointer;
}

/* Custom arrow */
.select-container::after {
		content: 'expand_circle_down';
		font-family: 'Material Icons';
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
		color: white;
		background-color: rgba(0, 102, 153, 1);
		padding: 0 5px;
		border-radius: 5px;
}

/* Background color for the select */
.select-container select {
		background-color: rgba(0, 102, 153, 1);
}

/* Hover effect */
.select-container:hover::after {
		background-color: white;
		color: rgba(0, 102, 153, 1);
}
#iconsRow {
	justify-content: center;
}
#expItemsRow {
	justify-content: center;
	overflow: scroll;
	max-height: 50vh;
	flex-wrap: wrap;
}
.icons {
		display: flex;
		justify-content: space-around;
		width: 100%;
}
.icon {
		width: 20vw;
		height: 20vh;
		margin: 20px;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-decoration: none;
		color: rgba(0, 102, 153, 1);
		transition: color 0.3s, background-color 0.3s;
}
.icon i.material-icons {
	font-size: 60px;
	transition: color 0.3s;
	pointer-events: none;
}
.icon span {
	margin-top: 10px;
	font-size: 16px;
	transition: color 0.3s;
	pointer-events: none;
}
.icon:hover {
	color: white;
	background-color: rgba(0, 102, 153, 1);
	border-radius: 10px;
}
.icon:hover i.material-icons,
.icon:hover span {
	color: white;
}
.exp-package-item-icons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.exp-package-item-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 102, 153, 1);
	color: white;
	padding: 10px;
	border-radius: 10px;
	font-size: larger;
	font-weight: bold;
	margin: 10px;
}
.exp-package-item-icon{
	width: auto;
	height: auto;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
	color: white;
	transition: color 0.3s, background-color 0.3s;
}
.exp-package-item-icon i.material-icons {
	font-size: auto;
	transition: color 0.3s;
	pointer-events: none;
}
.exp-package-item-icon span {
	margin-top: 10px;
	font-size: 16px;
	transition: color 0.3s;
	pointer-events: none;
}
.exp-package-item-icon:hover {
	color: rgba(0, 102, 153, 1);
	background-color: white;
	border-radius: 10px;
}
.exp-package-item-icon:hover i.material-icons,
.exp-package-item-icon:hover span {
	color: rgba(0, 102, 153, 1);
}


/* Edit Exp Page */

.info-container,  .conf-container{
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 102, 153, 1);
	border-radius: 15px;
	width: fit-content;
}
.conf-container {
	height: fit-content;

}	
.info-container {
	height: 25vh;
	overflow: auto;
}

.info-row, .conf-row, .columns-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	overflow: auto;
}
.unjustify {
	justify-content: flex-start;
}
.columns-row span {
	margin-right: 20px;
	color: white;
	font-weight: bold;
	font-size: large;
}
.columns-row  input {
	margin-left: auto;
}
.columns-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.id-type-container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
  align-items: center;
	align-self: flex-start;
  margin-top: 20px;
}
.id-type-container span {
	color: white;
	font-weight: bold;
	font-size: large;
}
.info-row span {
	color: white;
	font-weight: bold;
	font-size: large;
	margin-left: auto;
	margin-right: auto;

}
.info-row input {
	margin-left: auto;
	width: 50%;
}
.select-container {
	margin-left: 5%;
	margin-right: auto;
	width: 40%;
}
.select-container select {
	margin-left: auto;
	border: 1px solid white;
	width: 400px;
}
.data-text-area{
	background-color: #e6faff;
  display: block;
  margin-left: 40px;
  margin-top: 40px;
	width: inherit;
	height: inherit;
}
.gene-colored {
	background-color: #e6faff;
}
.prot-colored {
	background-color: #e6b3ff;
}
.meth-colored {
	background-color: #99e699;
}
.chroma-colored {
	background-color: #e6b3ff;
}
.meta-colored {
	background-color: #ffffb3;
}
.urna-colored {
	background-color: #ffb3b3;
}
#dataRow {
	justify-content: flex-start;
}


.onts-box {
	display: flex;
	background-color:  lightgray;
	height: 25vh;
	width: 50%;
	padding: 5px;

}
.left-radius {
	border-radius: 10px 0px 0px 10px;
	border-right: 2px solid rgba(0, 102, 153, 1);
}
.right-radius {
	border-radius: 0px 10px 10px 0px;
	border-left: 2px solid rgba(0, 102, 153, 1);

}
.onts-container {
	width: 80vw;
}
.onts-ul {
	overflow-y: scroll;
	height: inherit;
	list-style-type: none;
	padding: 0px 15px 0px 15px;
  margin: 0;
	width: 100%;
}
.onts-ul li {
	display: flex;
	background-color: rgba(0, 102, 153, 0.85);
	padding: 10px;
	margin: 5px;
	justify-content: space-between;
	align-items: center;
	color: white;
	cursor: pointer;
	font-size: large;
}
.onts-ul li:hover {
	font-weight: bold;
}
.onts-ul span {
	padding: 5px;
	border-radius: 10px;
}
.onts-ul span:hover {
	font-weight: bold;
	background-color: white;
	color: rgba(0, 102, 153, 1);
}
.searchbar {
	margin-left: 5%;
}
.conf-row span {
	color: white;
	font-weight: bold;
	font-size: large;
}