.container4 {
    position:relative;
    background-color:#006699;
    overflow:hidden;
    padding:1px;
    margin-bottom:20px;
}
.unifi_logo_div {
    float:right;
}
#docs {
    float:right;
}
body {
    font-family: Arial, sans-serif;
}